@import "./normalize.css";
@import "./prism-theme.css";
@import "./theme.css";
@import "./scrollbar.css";
@import "./typography.css";
@import "./utils.css";

html,
body,
#__nuxt,
#__layout {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: var(--color-background);
  color: var(--text-primary);
  transition: background var(--anim-medium) ease, color var(--anim-medium) ease;
}

*:not(:is(pre *, code *)) {
  font-family: 'Roboto', sans-serif;
}

.splitpanes__splitter {
  background: var(--color-lighten-2);
  border-radius: var(--border-radius-large) 0 0 0;
  cursor: col-resize;
  position: relative;
  touch-action: none;
  width: 1rem;
}

.splitpanes__splitter::before,
.splitpanes__splitter::after {
  background: var(--color-lighten-4);
  content: "";
  height: 2rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;

}

.splitpanes__splitter::before {
  margin-left: -2px;
}

.splitpanes__splitter::after {
  margin-left: 1px;
}

*.unselectable {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

div,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* + .material-design-icon {
  margin-left: 0.5rem;
}

.material-design-icon__svg {
  bottom: 0 !important;
}

input,
select {
  all: unset;
  background: var(--background-concave);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-depressed);
  min-width: 4rem;
  padding: 0.5em 1em 0.5em 1em;
}

select {
  cursor: pointer;
  text-align: center;
}

select option {
  background: var(--color-background);
}
