:root {
  --anim-medium: 0.25s;
  --anim-short: 0.1s;
  --border-radius-medium: 0.25rem;
  --border-radius-large: 0.5rem;
  --border-radius-xl: 1.5rem;
  --color-primary: #462A39;
  --color-secondary: #637949;
  --color-secondary-darken: #39462A;
  --color-darken-1: rgba(0, 0, 0, 0.2);
  --color-darken-2: rgba(0, 0, 0, 0.3);
  --color-darken-3: rgba(0, 0, 0, 0.4);
  --color-lighten-1: rgba(255, 255, 255, 0.05);
  --color-lighten-2: rgba(255, 255, 255, 0.1);
  --color-lighten-3: rgba(255, 255, 255, 0.2);
  --color-lighten-4: rgba(255, 255, 255, 0.3);
  --color-warn: rgb(191, 63, 63);
  --fs-large: 1.25rem;
  --fs-medium: 1rem;
  --fs-small: 0.8rem;
  --glass-blur: 0.25rem;
  --tab-size: 4;
  --text-primary: white;
}

.darken-on-focus {
  transition: filter 0.25s ease;
}

.darken-on-focus:focus-visible,
.darken-on-focus:hover {
  filter: brightness(80%);
}

.glass {
  filter: blur(var(--glass-blur));
}

.glass-backdrop {
  backdrop-filter: blur(var(--glass-blur));
}

@media only screen and (max-width: 600px) {
  .glass-mobile {
    filter: blur(var(--glass-blur));
  }
}

.elevated {
  box-shadow:
    0.5rem 0.5rem 0.75rem 0 var(--color-darken-3),
    -0.125rem -0.125rem 0.4rem 0 var(--color-lighten-3);
}

.depressed {
  box-shadow:
    0.5rem 0.5rem 0.75rem 0 var(--color-darken-3) inset,
    -0.125rem -0.125rem 1rem 0 var(--color-lighten-1) inset;
}
