:root {
  --anim-medium: 0.25s;
  --anim-short: 0.1s;
  --background-concave: linear-gradient(
    145deg,
    var(--color-darken-1),
    var(--color-lighten-1)
  );
  --background-convex: linear-gradient(
    145deg,
    var(--color-lighten-1),
    var(--color-darken-1)
  );;
  --border-radius-medium: 0.25rem;
  --border-radius-large: 0.5rem;
  --border-radius-xl: 1.5rem;
  --color-background: #403235;
  --color-primary: #462A39;
  --color-secondary: #637949;
  --color-secondary-darken: #39462A;
  --color-darken-1: rgba(0, 0, 0, 0.2);
  --color-darken-2: rgba(0, 0, 0, 0.3);
  --color-darken-3: rgba(0, 0, 0, 0.4);
  --color-lighten-1: rgba(255, 255, 255, 0.05);
  --color-lighten-2: rgba(255, 255, 255, 0.1);
  --color-lighten-3: rgba(255, 255, 255, 0.2);
  --color-lighten-4: rgba(255, 255, 255, 0.3);
  --color-warn: rgb(191, 63, 63);
  --fs-large: 1.25rem;
  --fs-medium: 1rem;
  --fs-small: 0.8rem;
  --glass-blur: 0.25rem;
  --shadow-depressed:
    0.5rem 0.5rem 0.75rem 0 var(--color-darken-3) inset,
    -0.125rem -0.125rem 1rem 0 var(--color-lighten-1) inset;
  --shadow-elevated:
    0.5rem 0.5rem 0.75rem 0 var(--color-darken-2),
    -0.125rem -0.125rem 1rem 0 var(--color-lighten-2);
  --text-primary: white;
}

.dark-mode {
  --color-background: #212121;
}

.darken-on-focus {
  transition: filter 0.25s ease;
}

.darken-on-focus:focus-visible,
.darken-on-focus:hover {
  filter: brightness(80%);
}

.glass {
  filter: blur(var(--glass-blur));
}

.glass-backdrop {
  backdrop-filter: blur(var(--glass-blur));
}

pre,
.elevated {
  box-shadow: var(--shadow-elevated)
}

.depressed {
  box-shadow: var(--shadow-depressed);
}

.concave {
  background: var(--background-concave);
}

.convex {
  background: var(--background-convex);
}
