*:not(:is(pre, code, .token)) {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color var(--anim-medium) ease;
}

a:focus-visible,
a:hover {
  color: var(--color-accent-dark);
}

input::placeholder,
textarea::placeholder,
.text--secondary {
  color: var(--color-lighten-4);
  font-style: italic;
}

.text--small {
  font-size: var(--fs-small);
}
