/* Sizing */

.h-100 {
  height: 100%;
}

/* Display */

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/* Margin */

.ma-4 {
  margin: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-n4 {
  margin-top: -1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

/* Padding */

.pa-4 {
  padding: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}
